<!DOCTYPE html>
<html lang="en">
<head>
    <title>Transportista</title>

    <!-- METAS -->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" CONTENT="">
    <meta name="google" content="notranslate" />
    <meta name="author" content="">

     <!--FACEBOOK SHARING TAGS -->
    <meta property="og:title" content="">
    <meta property="og:image" content="/img/logocomplete.png">
    <meta property="og:description" content="">
     <!--FAV -->
    <link rel="icon" type="image/png" href="favicon.png" />

    <!-- CSS -->
    <link rel="stylesheet" href="/css/foundation.min.css"/>
    <link rel="stylesheet" href="/css/jquery.qtip.min.css"/> 
    <link rel="stylesheet" href="/css/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="/css/rangeslider.css">
    <link rel="stylesheet" href="/css/rangeslider.css">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/transportista/transportistaUI.css">

    <!-- LIBS --> 
    <script src='/js/lib/jquery.min.js'></script>
    <script src="/js/lib/foundation.min.js"></script>
    <script src="/js/lib/bootstrap-tagsinput.min.js"></script>
    <script src="/js/lib/qtip/jquery.qtip.min.js"></script>
    <script src="/js/lib/GSAP/TweenMax.min.js"></script>
    <script src="/js/lib/ractive.min.js"></script>
    <script src="/js/lib/ractive-events-keys.js"></script>
    <script src="/js/lib/jquery.maskedinput-1.4.min.js"></script>
    <script src="/js/lib/utilities.js"></script>
    <script src='/js/lib/defiant.min.js'></script>

    <!-- CALENDAR -->
    <link href='/css/fullcalendar.min.css' rel='stylesheet' />
    <link href='/css/scheduler.min.css' rel='stylesheet' />
    <link href='/css/fullcalendar.print.css' rel='stylesheet' media='print' />
    <script src='/js/lib//moment.min.js'></script>
    <script src='/js/lib/fullcalendar.min.js'></script>
    <script src='/js/lib/lang-all.js'></script>
    <script src='/js/lib/scheduler.min.js'></script>
    <script src='/js/lib/rangeslider.min.js'></script>

    <script src="/js/lib/socket.io-1.2.0.js"></script>

    <!-- LANGUAGES -->
    <script src='/languages/langAll.js'></script>

    <!-- CONTROLLERS -->
    <script src='/js/controllers/ctrl_main.js'></script>
    <script src='/js/controllers/transportista/ctrl_bases.js'></script>
 <!-- USER CONTROLLERS -->
    <script src='/js/controllers/ctrl_loginSub.js'></script>

    <script src='https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBcrQxNRRRn5djIHjj5fXV7TP8dLz0WqN8'></script>

    <script src="../js/lib/richmarker.js"></script>

    <script src='/js/controllers/ctrl_uitransportista.js'></script>  <!-- READY INIT -->
</head>



<body>
  <div id="progressBar"></div>
  <div id="contentUI" class="flexbox-parent"></div>
  <div id="modal"></div>
  <div id="qtip-growl-container"></div>
  <div id="templateLoader"></div>
</body>

</html>