
<!-- CLIENTE  ============================================================-->

<script id='clienteT' type='text/ractive'>
    
    <div class="row">
        <div class="small-12 columns emailOptions">
            <div class="small-12 columns">
              <div id="alertCont" class="alertCont"></div>
             </div>

                <div class="small-12 columns spacebot collapse">
                <div id="errorRfc" class="errDiv"></div>
                <div class="row inputHolder">
                  <div class="small-12 medium-3 columns">
                    <div class="labelInput">RFC</div>
                  </div>
                  <div class="small-12 medium-7 columns collapse">
                    <input on-keydown="keydown" class="ginput upper" id="rfc" placeholder="RFC" name="rfc" tabindex="1"   type="text"  />
                  </div>  
                   <div class="small-2 end show-for-medium-up columns collapse">
                      <div id="icoRfc"  class="icoInput"><img src="/img/correct.png"></div>
                   </div>
                </div>   
               </div>
    
                 <div class="small-12 columns spacebot collapse">
                <div id="errorPaterno" class="errDiv"></div>
                <div class="row inputHolder">
                  <div class="small-12 medium-3 columns">
                    <div class="labelInput">A Paterno</div>
                  </div>
                  <div class="small-12 medium-7 columns collapse">
                    <input on-keydown="keydown" class="ginput upper" id="paterno" placeholder="A. PATERNO" name="paterno" tabindex="2"   type="text"  />
                  </div>  
                   <div class="small-2 end show-for-medium-up columns collapse">
                      <div id="icoPaterno"  class="icoInput"><img src="/img/correct.png"></div>
                   </div>
                </div>   
               </div>
    
                <div class="small-12 columns spacebot collapse">
                <div id="errorTipo" class="errDiv"></div>
                <div class="row inputHolder">
                  <div class="small-12 medium-3 columns">
                    <div class="labelInput">A Materno</div>
                  </div>
                  <div class="small-12 medium-7 columns collapse">
                    <input on-keydown="keydown" class="ginput upper" id="materno" placeholder="A. MTERNO" name="materno" tabindex="3"   type="text"  />
                  </div>  
                   <div class="small-2 end show-for-medium-up columns collapse">
                      <div id="icoTipo"  class="icoInput"><img src="/img/correct.png"></div>
                   </div>
                </div>   
               </div>
    
               <div class="small-12 columns spacebot collapse">
                <div id="errorTelefono" class="errDiv"></div>
                <div class="row inputHolder">
                  <div class="small-12 medium-3 columns">
                    <div class="labelInput">Teléfono</div>
                  </div>
                  <div class="small-12 medium-7 columns collapse">
                    <input  class="ginput" id="telefono" placeholder="TELEFONO" name="telefono" type="text" tabindex="4"  />
                  </div>  
                   <div class="small-2 end show-for-medium-up columns collapse">
                      <div id="icoTelefono" class="icoInput"><img src="/img/correct.png"></div>
                   </div>
                </div>   
               </div>
    
               <div class="small-12 columns spacebot collapse">
                <div id="errorCorreo" class="errDiv"></div>
                <div class="row inputHolder">
                  <div class="small-12 medium-3 columns">
                    <div class="labelInput">Correo</div>
                  </div>
                  <div class="small-12 medium-7 columns collapse">
                    <input on-keydown="keydown" class="ginput" id="correo" placeholder="CORREO" name="correo" tabindex="5"   type="text"  />
                  </div>  
                   <div class="small-2 end show-for-medium-up columns collapse">
                      <div id="icoCorreo"  class="icoInput"><img src="/img/correct.png"></div>
                   </div>
                </div>   
               </div>
               
               <div class="small-12 columns spacebot collapse">
                <div id="errorEmpresa" class="errDiv"></div>
                <div class="row inputHolder">
                  <div class="small-12 medium-3 columns">
                    <div class="labelInput">Empresa</div>
                  </div>
                  <div class="small-12 medium-7 columns collapse">
                    <input on-keydown="keydown" class="ginput" id="empresa" placeholder="EMPRESA" name="empresa" tabindex="6"   type="text"  />
                  </div>  
                   <div class="small-2 end show-for-medium-up columns collapse">
                      <div id="icoEmpresa"  class="icoInput"><img src="/img/correct.png"></div>
                   </div>
                </div>   
               </div>
    
            <div class="small-12 column spacebot spacebot collapse">
            <div>
             <div class="small-12 spacetop column center collapse">
                 <div on-enter="submit" on-click="submit" id="subBt" tabindex="7" class="bt largeC b_green">Guardar</div>
             </div>
            </div>
       </div>
    </div>
</script>
