
<!-- UNIDADES  ============================================================-->

<script id='unidadesT' type='text/ractive'>
    
    <div class="row">
        <div class="small-12 columns emailOptions">
            <div class="small-12 columns">
              <div id="alertCont" class="alertCont"></div>
             </div>

                <div class="small-12 columns spacebot collapse">
                <div id="errorMarca" class="errDiv"></div>
                <div class="row inputHolder">
                  <div class="small-12 medium-3 columns">
                    <div class="labelInput">Marca</div>
                  </div>
                  <div class="small-12 medium-7 columns collapse">
                    <input on-keydown="keydown" class="ginput upper" id="marca" placeholder="MARCA" name="marca" tabindex="1"   type="text"  />
                  </div>  
                   <div class="small-2 end show-for-medium-up columns collapse">
                      <div id="icoMarcac"  class="icoInput"><img src="/img/correct.png"></div>
                   </div>
                </div>   
               </div>
    
                 <div class="small-12 columns spacebot collapse">
                <div id="errorModelo" class="errDiv"></div>
                <div class="row inputHolder">
                  <div class="small-12 medium-3 columns">
                    <div class="labelInput">Modelo</div>
                  </div>
                  <div class="small-12 medium-7 columns collapse">
                    <input on-keydown="keydown" class="ginput upper" id="modelo" placeholder="MODELO" name="modelo" tabindex="2"   type="text"  />
                  </div>  
                   <div class="small-2 end show-for-medium-up columns collapse">
                      <div id="icoModelo"  class="icoInput"><img src="/img/correct.png"></div>
                   </div>
                </div>   
               </div>
    
                <div class="small-12 columns spacebot collapse">
                <div id="errorTipo" class="errDiv"></div>
                <div class="row inputHolder">
                  <div class="small-12 medium-3 columns">
                    <div class="labelInput">Tipo</div>
                  </div>
                  <div class="small-12 medium-7 columns collapse">
                    <input on-keydown="keydown" class="ginput upper" id="tipo" placeholder="TIPO" name="tipo" tabindex="3"   type="text"  />
                  </div>  
                   <div class="small-2 end show-for-medium-up columns collapse">
                      <div id="icoTipo"  class="icoInput"><img src="/img/correct.png"></div>
                   </div>
                </div>   
               </div>
    
               <div class="small-12 columns spacebot collapse">
                <div id="errorSerie" class="errDiv"></div>
                <div class="row inputHolder">
                  <div class="small-12 medium-3 columns">
                    <div class="labelInput">Serie</div>
                  </div>
                  <div class="small-12 medium-7 columns collapse">
                    <input  class="ginput" id="serie" placeholder="SERIE" name="serie" type="text" tabindex="4"  />
                  </div>  
                   <div class="small-2 end show-for-medium-up columns collapse">
                      <div id="icoSerie" class="icoInput"><img src="/img/correct.png"></div>
                   </div>
                </div>   
               </div>
    
               <div class="small-12 columns spacebot collapse">
                <div id="errorPlacas" class="errDiv"></div>
                <div class="row inputHolder">
                  <div class="small-12 medium-3 columns">
                    <div class="labelInput">Placas</div>
                  </div>
                  <div class="small-12 medium-7 columns collapse">
                    <input on-keydown="keydown" class="ginput" id="placas" placeholder="PLACAS" name="placas" tabindex="5"   type="text"  />
                  </div>  
                   <div class="small-2 end show-for-medium-up columns collapse">
                      <div id="icoPlacas"  class="icoInput"><img src="/img/correct.png"></div>
                   </div>
                </div>   
               </div>
               
               <div class="small-12 columns spacebot collapse">
                <div id="errorEjes" class="errDiv"></div>
                <div class="row inputHolder">
                  <div class="small-12 medium-3 columns">
                    <div class="labelInput">Ejes</div>
                  </div>
                  <div class="small-12 medium-7 columns collapse">
                    <input on-keydown="keydown" class="ginput" id="ejes" placeholder="EJES" name="placas" tabindex="6"   type="text"  />
                  </div>  
                   <div class="small-2 end show-for-medium-up columns collapse">
                      <div id="icoEjes"  class="icoInput"><img src="/img/correct.png"></div>
                   </div>
                </div>   
               </div>
               
               <div class="small-12 columns spacebot collapse">
                <div id="errorVerificacion" class="errDiv"></div>
                <div class="row inputHolder">
                  <div class="small-12 medium-3 columns">
                    <div class="labelInput">Veriricación</div>
                  </div>
                  <div class="small-12 medium-7 columns collapse">
                    <input on-keydown="keydown" class="ginput" id="verificacion" placeholder="VERIRICACION" name="verificacion" tabindex="7"   type="text"  />
                  </div>  
                   <div class="small-2 end show-for-medium-up columns collapse">
                      <div id="icoVerificacion"  class="icoInput"><img src="/img/correct.png"></div>
                   </div>
                </div>   
               </div>
               
               <div class="small-12 columns spacebot collapse">
                <div id="errorRevista" class="errDiv"></div>
                <div class="row inputHolder">
                  <div class="small-12 medium-3 columns">
                    <div class="labelInput">Revista</div>
                  </div>
                  <div class="small-12 medium-7 columns collapse">
                    <input on-keydown="keydown" class="ginput" id="revista" placeholder="REVISTA" name="revista" tabindex="8"   type="text"  />
                  </div>  
                   <div class="small-2 end show-for-medium-up columns collapse">
                      <div id="icoRevista"  class="icoInput"><img src="/img/correct.png"></div>
                   </div>
                </div>   
               </div>
                
                <div class="small-12 columns spacebot collapse">
                <div id="errorSeguro" class="errDiv"></div>
                <div class="row inputHolder">
                  <div class="small-12 medium-3 columns">
                    <div class="labelInput">Seguro</div>
                  </div>
                  <div class="small-12 medium-7 columns collapse">
                    <input on-keydown="keydown" class="ginput" id="seguro" placeholder="SEGURO" name="seguro" tabindex="9"   type="text"  />
                  </div>  
                   <div class="small-2 end show-for-medium-up columns collapse">
                      <div id="icoSeguro"  class="icoInput"><img src="/img/correct.png"></div>
                   </div>
                </div>   
               </div>
                
                <div class="small-12 columns spacebot collapse">
                <div id="errorSeguro" class="errDiv"></div>
                <div class="row inputHolder">
                  <div class="small-12 medium-3 columns">
                    <div class="labelInput">Certificación</div>
                  </div>
                  <div class="small-12 medium-7 columns collapse">
                    <input on-keydown="keydown" class="ginput" id="certificacion" placeholder="CERTIFICACION" name="certificacion" tabindex="6"   type="text"  />
                  </div>  
                   <div class="small-2 end show-for-medium-up columns collapse">
                      <div id="icoSeguro"  class="icoInput"><img src="/img/correct.png"></div>
                   </div>
                </div>   
               </div>
    
            <div class="small-12 column spacebot spacebot collapse">
            <div>
             <div class="small-12 spacetop column center collapse">
                 <div on-enter="submit" on-click="submit" id="subBt" tabindex="7" class="bt largeC b_green">Guardar</div>
             </div>
            </div>
       </div>
    </div>
</script>
