
<!-- CARGA  ============================================================-->

<script id='cargaT' type='text/ractive'>
    
    <div class="row">
        <div class="small-12 columns emailOptions">
            <div class="small-12 columns">
              <div id="alertCont" class="alertCont"></div>
             </div>

                <div class="small-12 columns spacebot collapse">
                <div id="errorCliente" class="errDiv"></div>
                <div class="row inputHolder">
                  <div class="small-12 medium-3 columns">
                    <div class="labelInput">Cliente</div>
                  </div>
                  <div class="small-12 medium-7 columns collapse">
                    <input on-keydown="keydown" class="ginput upper" id="cliente" placeholder="CLIENTE" name="cliente" tabindex="1"   type="text"  />
                  </div>  
                   <div class="small-2 end show-for-medium-up columns collapse">
                      <div id="icoCliente"  class="icoInput"><img src="/img/correct.png"></div>
                   </div>
                </div>   
               </div>
    
                 <div class="small-12 columns spacebot collapse">
                <div id="errorAlto" class="errDiv"></div>
                <div class="row inputHolder">
                  <div class="small-12 medium-3 columns">
                    <div class="labelInput">Alto</div>
                  </div>
                  <div class="small-12 medium-7 columns collapse">
                    <input on-keydown="keydown" class="ginput upper" id="alto" placeholder="ALTO" name="alto" tabindex="2"   type="text"  />
                  </div>  
                   <div class="small-2 end show-for-medium-up columns collapse">
                      <div id="icoAlto"  class="icoInput"><img src="/img/correct.png"></div>
                   </div>
                </div>   
               </div>
    
                <div class="small-12 columns spacebot collapse">
                <div id="errorAncho" class="errDiv"></div>
                <div class="row inputHolder">
                  <div class="small-12 medium-3 columns">
                    <div class="labelInput">Ancho</div>
                  </div>
                  <div class="small-12 medium-7 columns collapse">
                    <input on-keydown="keydown" class="ginput upper" id="ancho" placeholder="ANCHO" name="ancho" tabindex="3"   type="text"  />
                  </div>  
                   <div class="small-2 end show-for-medium-up columns collapse">
                      <div id="icoAncho"  class="icoInput"><img src="/img/correct.png"></div>
                   </div>
                </div>   
               </div>
    
               <div class="small-12 columns spacebot collapse">
                <div id="errorLargo" class="errDiv"></div>
                <div class="row inputHolder">
                  <div class="small-12 medium-3 columns">
                    <div class="labelInput">Largo</div>
                  </div>
                  <div class="small-12 medium-7 columns collapse">
                    <input  class="ginput" id="largo" placeholder="LARGO" name="largo" type="text" tabindex="4"  />
                  </div>  
                   <div class="small-2 end show-for-medium-up columns collapse">
                      <div id="icoLargo" class="icoInput"><img src="/img/correct.png"></div>
                   </div>
                </div>   
               </div>
    
               <div class="small-12 columns spacebot collapse">
                <div id="errorVolumen" class="errDiv"></div>
                <div class="row inputHolder">
                  <div class="small-12 medium-3 columns">
                    <div class="labelInput">Volúmen</div>
                  </div>
                  <div class="small-12 medium-7 columns collapse">
                    <input on-keydown="keydown" class="ginput" id="volumen" placeholder="VOLUMÉN" name="volumen" tabindex="5"   type="text"  />
                  </div>  
                   <div class="small-2 end show-for-medium-up columns collapse">
                      <div id="icoVolumen"  class="icoInput"><img src="/img/correct.png"></div>
                   </div>
                </div>   
               </div>
               
               <div class="small-12 columns spacebot collapse">
                <div id="errorCaracteristicas" class="errDiv"></div>
                <div class="row inputHolder">
                  <div class="small-12 medium-3 columns">
                    <div class="labelInput">Características</div>
                  </div>
                  <div class="small-12 medium-7 columns collapse">
                    <input on-keydown="keydown" class="ginput" id="caracteristicas" placeholder="CARACTERÍSTICAS" name="caracteristicas" tabindex="6"   type="text"  />
                  </div>  
                   <div class="small-2 end show-for-medium-up columns collapse">
                      <div id="icoCaracteristicas"  class="icoInput"><img src="/img/correct.png"></div>
                   </div>
                </div>   
               </div>
               
               <div class="small-12 columns spacebot collapse">
                <div id="errorObservaciones" class="errDiv"></div>
                <div class="row inputHolder">
                  <div class="small-12 medium-3 columns">
                    <div class="labelInput">Observaciones</div>
                  </div>
                  <div class="small-12 medium-7 columns collapse">
                    <input on-keydown="keydown" class="ginput" id="observaciones" placeholder="OBSERVACIONES" name="observaciones" tabindex="7"   type="text"  />
                  </div>  
                   <div class="small-2 end show-for-medium-up columns collapse">
                      <div id="icoObservaciones"  class="icoInput"><img src="/img/correct.png"></div>
                   </div>
                </div>   
               </div>
    
            <div class="small-12 column spacebot spacebot collapse">
            <div>
             <div class="small-12 spacetop column center collapse">
                 <div on-enter="submit" on-click="submit" id="subBt" tabindex="7" class="bt largeC b_green">Guardar</div>
             </div>
            </div>
       </div>
    </div>
</script>
