
<!-- CHAT  ============================================================-->

<script id='agendaT' type='text/ractive'>
    
    <div class="row">
        <div class="small-12 columns emailOptions">
            <div class="small-12 columns">
              <div id="alertCont" class="alertCont"></div>
             </div>

                <div class="small-12 columns spacebot collapse">
                <div id="errorCliente" class="errDiv"></div>
                <div class="row inputHolder">
                  <div class="small-12 medium-3 columns">
                    <div class="labelInput">Cliente</div>
                  </div>
                  <div class="small-12 medium-7 columns collapse">
                    <input on-keydown="keydown" class="ginput upper" id="cliente" placeholder="CLIENTE" name="cliente" tabindex="1"   type="text"  />
                  </div>  
                   <div class="small-2 end show-for-medium-up columns collapse">
                      <div id="icoCliente"  class="icoInput"><img src="/img/correct.png"></div>
                   </div>
                </div>   
               </div>
    
                 <div class="small-12 columns spacebot collapse">
                <div id="errorTransportista" class="errDiv"></div>
                <div class="row inputHolder">
                  <div class="small-12 medium-3 columns">
                    <div class="labelInput">Transportista</div>
                  </div>
                  <div class="small-12 medium-7 columns collapse">
                    <input on-keydown="keydown" class="ginput upper" id="transportista" placeholder="TRANSPORTISTA" name="transportista" tabindex="2"   type="text"  />
                  </div>  
                   <div class="small-2 end show-for-medium-up columns collapse">
                      <div id="icoTransportista"  class="icoInput"><img src="/img/correct.png"></div>
                   </div>
                </div>   
               </div>
    
                <div class="small-12 columns spacebot collapse">
                <div id="errorChat" class="errDiv"></div>
                <div class="row inputHolder">
                  <div class="small-12 medium-3 columns">
                    <div class="labelInput">Chat</div>
                  </div>
                  <div class="small-12 medium-7 columns collapse">
                    <input on-keydown="keydown" class="ginput upper" id="chat" placeholder="CHAT" name="chat" tabindex="3"   type="text"  />
                  </div>  
                   <div class="small-2 end show-for-medium-up columns collapse">
                      <div id="icoChat"  class="icoInput"><img src="/img/correct.png"></div>
                   </div>
                </div>   
               </div>
    
            <div class="small-12 column spacebot spacebot collapse">
            <div>
             <div class="small-12 spacetop column center collapse">
                 <div on-enter="submit" on-click="submit" id="subBt" tabindex="7" class="bt largeC b_green">Guardar</div>
             </div>
            </div>
       </div>
    </div>
</script>
